.mennu a {
    color: black;
    font-size: 12pt;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 10px 10px 10px;

}

.signup {
    color: white;
    background-color: black;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
}

.Login {
    color: white;
    background-color: black;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
}

.icons {
    display: flex;
    justify-items: center;
    width: 18%;
    align-items: center;
}

.row_1 {
    background-image: url("../IMG/ROW_1_BG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 891px;
    margin-bottom: 20px;
}

.row_1 h1 {
    font-size: 132px;
    font-weight: 700;
}

.explor_row1 {
    background-color: black;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.explor_row1:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.cont_row1 {
    background-color: black;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cont_row1:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.line {

    background-image: url("../IMG/slid.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;

}

.row_2_img {
    background-image: url("../IMG/men/png/section-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 527px;
}

.explor {
    background-color: black;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.explor:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.explor1 {
    background-color: black;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.explor1:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.contant-img {
    background-image: url(../IMG/wach/png/w-5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 193px;
    margin-top: 23px;
}

.contant-img-1 {
    background-image: url(../IMG/shose/png/s-10.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 138px;
    margin-top: 52px;
}

.row h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cotantarea {
    margin-bottom: 27px;
}

.sh_im1 {

    background-image: url(../IMG/men/png/m-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:400px;

}

.row3{
    margin-bottom:60px;
}

.cart{
    background-color: black;
    color:white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 5px 10px 5px 10px;
}

.cart:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
}


.r3_explorbtn{
    background-color: black;
    color:white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 5px 20px 5px 20px;
}

.r3_explorbtn:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
}




.sh_im2 {

    background-image: url(../IMG/men/png/m-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:400px;

}

.row4{
    margin-bottom:60px;
}

.cart{
    background-color: black;
    color:white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 5px 10px 5px 10px;
}

.cart:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
}


.r4_explorbtn{
    background-color: black;
    color:white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 5px 20px 5px 20px;
}

.r4_explorbtn:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
}