.mennu a {
    color: black;
    font-size: 12pt;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 20px 10px 20px;

}

.signup {
    color: white;
    background-color: black;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
}

.Login {
    color: white;
    background-color: black;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
}

.icons {
    display: flex;
    justify-items: center;
    width: 18%;
    align-items: center;
}

.row_1 {
    background-image: url("../IMG/ROW_1_BG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 891px;
    margin-bottom: 20px;
}

.row_1 h1 {
    font-size: 132px;
    font-weight: 700;
}

.explor_row1 {
    background-color: black;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.explor_row1:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.cont_row1 {
    background-color: black;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cont_row1:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.line {

    background-image: url("../IMG/slid.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;

}

.row_2_img {
    background-image: url("../IMG/men/png/m-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 527px;
}

.explor {
    background-color: black;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.explor:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.explor1 {
    background-color: black;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.explor1:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.contant-img {
    background-image: url(../IMG/watch/png/w-5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 193px;
    margin-top: 23px;
}

.contant-img-1 {
    background-image: url(../IMG/shose/png/s-10.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 138px;
    margin-top: 52px;
}

.row h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cotantarea {
    margin-bottom: 27px;
}

.sh_im1 {

    background-image: url(../IMG/men/png/m-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

}

.row3 {
    margin-bottom: 60px;
}

.cart {
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 5px 10px 5px 10px;
}

.cart:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}


.r3_explorbtn {
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 5px 20px 5px 20px;
}

.r3_explorbtn:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}




.sh_im2 {

    background-image: url(../IMG/men/png/m-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

}

.row4 {
    margin-bottom: 60px;
}

.cart {
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 5px 10px 5px 10px;
}

.cart:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}


.r4_explorbtn {
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 5px 20px 5px 20px;
}

.r4_explorbtn:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}

.r5_r1:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.input_area input {
    padding: 5px 10px 5px 10px;
    width: 75%;
}

.submitbtn {
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 5px 20px 5px 20px;
}

.submitbtn:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}

.myaccount a {
    color: black;
    border: none;
}


/*-------------------------footer_area-----------------------------------*/

.footer_area {
    background-color: black;
    color: white;
}

.myaccount1 a {
    color: white;
}

.footer {
    background-color: black;
}

/*-------------------------login_css-----------------------------------*/

.inputfild input {
    padding: 5px 10px 5px 10px;
    width: 100%;
}

.loginbtn {
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid white;
    padding: 5px 50px 5px 50px;
}

.loginbtn:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}

.body_area {
    background-image: url(../IMG/login_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lo_overlay {
    background-color: black;
    height: 100%;
    filter: blur(2px);
    position: absolute;
    filter: opacity(70%);
    z-index: -1;
}


/*--.............................Registration_css.........................................--*/

.registration_area {
    background-image: url(../IMG/login_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.re-input-1 input {
    width: 100%;
    padding: 7px 5px 7px 5px;
}

.re-input-2 input {
    width: 100%;
    padding: 7px 5px 7px 5px;
}

.re-input-1 select {
    width: 100%;
    padding: 7px 5px 7px 5px;
}

.re-input-1 textarea {
    width: 100%;
    padding: 7px 5px 7px 5px;
}

.signupbtn {
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid white;
    padding: 5px 50px 5px 50px;
}

.signupbtn:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}

.overlay {
    background-color: black;
    height: 100%;
    position: absolute;
    z-index: -1;
    /* filter: blur(2px); */
    filter: opacity(70%);
}

/*--..........................................customer.................................*/

.customer_area {
    background-image: url(../IMG/customer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 920px;
}

.c_r1 {
    background-image: url(../IMG/slid.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    margin-bottom:50px;
}

.cu_home {
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    /* border: 1px solid white; */
    padding: 5px 50px 5px 50px;
}

.cu_home:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}

.cu_shop{
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    /* border: 1px solid white; */
    padding: 5px 50px 5px 50px;
}

.cu_shop:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}